[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mlflow = "*"
jupyter = "*"
matplotlib = "*"
scikit-learn = "*"
tqdm = "*"

[dev-packages]

[requires]
python_version = "3.8"
